<!--
* INSPINIA - Responsive Admin Theme
* Version 2.7
*
-->

<!DOCTYPE html>
<html ng-app="<%= app.appModule %>">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Font awesome -->
    <link href="<%= dirs.assetsFont_awesome %>/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap and Fonts -->
    <link href="<%= dirs.assetsCss %>/bootstrap.min.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="<%= dirs.assetsCss %>/animate.css" rel="stylesheet">
    <link id="loadBefore" href="<%= dirs.assetsCss %>/style.css" rel="stylesheet">

    <script src="<%= dirs.core %>/renderLinkCore.js"></script>
</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="MainCtrl as main">

<!-- Main view  -->
<div ui-view></div>

<!-- jQuery and Bootstrap -->
<script src="<%= dirs.viewCore %>/jquery/jquery-3.1.1.min.js"></script>
<script src="<%= dirs.viewCore %>/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="<%= dirs.viewCore %>/bootstrap/bootstrap.min.js"></script>

<!-- MetsiMenu -->
<script src="<%= dirs.viewCore %>/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SlimScroll -->
<script src="<%= dirs.viewCore %>/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="<%= dirs.viewCore %>/plugins/pace/pace.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="<%= dirs.viewCore %>/inspinia.js"></script>

<!-- Main Angular scripts-->
<script src="<%= dirs.viewCore %>/angular/angular.min.js"></script>
<script src="<%= dirs.viewCore %>/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="<%= dirs.viewCore %>/ui-router/angular-ui-router.min.js"></script>
<script src="<%= dirs.viewCore %>/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>


<!-- Anglar App Script -->
<script src="<%= dirs.viewCore %>/app.js"></script>
<script src="<%= dirs.viewCore %>/config.js"></script>
<script src="<%= dirs.viewCore %>/directives.js"></script>
<script src="<%= dirs.viewCore %>/controllers.js"></script>

</body>
</html>
